* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration:none;
}
body {
	font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.6;
	font-feature-settings: "ss01" on;
	color: rgb(24, 49, 83);
	font-size: 18px;
}
  
header {
	color: white;
	padding: 15px;
	position: relative;
	width: 100%;
	background: #f8f8f8a6;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #efefef;
	height: 65px;
}
.logo{
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    top: -3px;
    background: #183153;
    border-radius: 30px;
    padding: 0 22px;
    height: 40px;
    box-sizing: border-box;
    line-height: 35px;
}

section{
	
max-width: 1200px;
	
margin: 0 auto;
}
footer {
	background: #183153;
	color: white;
	text-align: center;
	position: relative;
	bottom: 0;
	padding: 30px 0;
	width: 100%;
}
footer p{font-size: 16px;}
nav {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

nav ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
    grid-gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul a {
    text-decoration: none !important;
}

nav ul li:hover {
    background: #ffd43b;
    border: 2px solid #535353;
    color: rgb(24, 49, 83);
}

nav ul li {
    text-decoration: none !important;
    padding: 0px 20px;
    border-radius: 20px;
    color: #425773;
    font-size: 16px;
    background: #fff;
    height: 35px;
    font-weight: 600;
    overflow: hidden;
    border: 2px solid hsl(0deg 0% 82.75% / 0%);
    line-height: 30px;
    box-shadow: 0 1px 2px hsl(0deg 0% 56.84% / 29%);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blok{
    max-width: 1200px;
}

.bcenter{
	margin: 0 auto;
}

.tcenter{
	text-align:center;
}

.dbosluk{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: inline-block;
}

.bosluk20{
	margin-top:10px;
	margin-bottom:10px;
	display: inline-block;
	width: 100%;
}


.buton_area{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 15px;
}
.buton1:hover{
	
background: #fff;
}
 .buton1{
    display: inline-block;
    position: relative;
    transition-timing-function: ease-in;
    margin: 0 0 0.875em 0;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.5675em;
    border-color: rgb(24, 49, 83);
    box-shadow: 0 0.375em 0 rgb(24, 49, 83);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: #fff;
    cursor: pointer;
    padding: 0 25px;
    background: #ffd43b;
    vertical-align: middle;
    font-size: 20px !important;!i;!;
    text-align: center;
    text-decoration: none;
    color: rgb(24, 49, 83);
    font-weight: 600;
    height: 50px;
    line-height: 45px;
}

 .buton2:hover{
	
background: #bce9ff;
}
 .buton2{
    display: inline-block;
    position: relative;
    transition-timing-function: ease-in;
    margin: 0 0 0.875em 0;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.5675em;
    border-color: rgb(24, 49, 83);
    box-shadow: 0 0.375em 0 rgb(24, 49, 83);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: #fff;
    cursor: pointer;
    padding: 0 25px;
    background: #ffffff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 20px !important;
    color: rgb(24, 49, 83);
    font-weight: 600;
    height: 50px;
    line-height: 45px;
}


 .orange{
	color:#f59f00;
	display: inline;
}


.blok_kisa{
    max-width: 720px;
}
.blok_uzun{
    max-width: 1360px;
}
.blok_full{
	width:100%;
	background: hsl(0deg 0% 98.04%);
	max-width: unset;
}

.blok h1{
    line-height: normal;
    font-size: 40px;
}



.renkli_baslik1{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 10px;
    background: #cbffd7;
    padding: 10px 25px;
    text-align: left;
    border-style: dashed;
    margin-bottom: 40px;
    border-color: #183153;
    border-width: 0.125em;
}

.renkli_baslik2{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 10px;
    background: #b4ffd3;
    padding: 10px 25px;
    text-align: left;
    border-style: dashed;
    margin-bottom: 40px;
    border-color: #183153;
    border-width: 0.125em;
}

.renkli_baslik3{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 10px;
    background: #cde8ff;
    padding: 10px 25px;
    text-align: left;
    border-style: dashed;
    margin-bottom: 40px;
    border-color: #183153;
    border-width: 0.125em;
}

.renkli_baslik4{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 10px;
    background: #f0d1ff;
    padding: 10px 25px;
    text-align: left;
    border-style: dashed;
    margin-bottom: 25px;
    border-color: #183153;
    border-width: 0.125em;
}


.renkli_baslik5{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
    border-radius: 10px;
    background: #a1f6ff;
    padding: 10px 25px;
    text-align: left;
    border-style: dashed;
    margin-bottom: 40px;
    border-color: #183153;
    border-width: 0.125em;
}


.detay_sol{
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

.detay_sag{
    box-sizing: border-box;
    border-radius: 10px;
}

.main_popular{
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #dbdbdb;
    border-radius: 10px;
}


ul.pop_list{
    list-style: none;
    padding: 0;
    display: grid;
    margin-top: 20px !important; 
    margin: 0;
    grid-auto-flow: row;
    grid-gap: 20px;
}
ul.pop_list li img{
    width: 40px;
    border-radius: 6px;
}
ul.pop_list li h3{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}
ul.pop_list li{
    font-size: 20px;
    display: grid;
    font-weight: 600;
    color: rgb(24, 49, 83);
    grid-auto-flow: column;
    align-items: center;
    text-align: left;
    justify-content: left;
    grid-gap: 10px;
}
ul.pop_list li .ikon{}
ul.pop_list li:hover{
    color: #ff463b;
    cursor: pointer;
}
ul.pop_list li a{}
ul.pop_list li a:hover{}

.lesson_name{
    text-transform: capitalize;
    font-size: 2em !important;!i;!;!;
    border-width: 0;!i;!;
    text-align: left;
    margin-bottom: 0px;
    background: #292929;
    !i;!;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
}
.main_new{
	 background: #fff;
	 padding: 20px;
	 position: relative;
	 border-radius: 10px;
	 box-shadow: 0 1px 2px #dbdbdb;
}

.lesson_detay{
	 position: relative;
	 border-radius: 10px;
}

.full_list_lessons {
    background: hsl(0deg 0% 75.74% / 0%);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-gap: 100px;
    grid-auto-flow: dense;
    align-items: stretch;
}

.main_all{
	 background: #fff;
	 padding: 20px;
	 position: relative;
	 border-radius: 10px;
	 box-shadow: 0 1px 2px #dbdbdb;
}

.main_lessons{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 300px calc(100% - 320px);
    grid-gap: 20px;
    align-items: flex-start;
    max-width: 1360px;
    margin: 0 auto;
    padding: 30px;
}

.detay_area{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 120px calc(100% - 280px) 120px;
    grid-gap: 20px;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}


.detay_may_like{
    max-width: 1300px;
    margin: 0 auto;
}


.main_all_lessons{
    display: grid;
    grid-gap: 20px;
    max-width: 1360px;
    margin: 0 auto;
    padding: 30px;
}

.new_lessons{
    display: grid;
    grid-gap: 20px;
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
}

.full_list{
    display: grid;
    grid-gap: 20px;
    max-width: 1360px;
    margin: 0 auto;
    padding: 30px;
}

.lesson_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(130px, auto);
}

.lesson_list .lesson_img{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0.375em 0 rgb(24, 49, 83);
    border-width: 0.125em;
    border-color: rgb(24, 49, 83);
    border-style: solid;
    transition: .2s all;
}

.lesson_list .lesson_img:hover{
	cursor: pointer;
}

.lesson_item:hover .lesson_img{
	transform:scale(1.05);
	transition: .125s all;
}

.lesson_item{
    align-items: center;
    display: grid;
    grid-gap: 8px;
}
.lesson_item:hover .lesson_title{
	color: #007bff;
}
 .lesson_title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(24, 49, 83);
    font-weight: 500;
    padding: 0px 8px;
    text-transform: capitalize;
    text-align: center;
    border-radius: 6px;
    font-size: 18px;
    width: 100%;
    margin-top: 5px !important;! 
    margin: 0 auto;
}

.icon-container:hover{
    border-color: #183153;
    background: #ffe78b;
}
.icon-container{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background: #eef8ff;
	border-style: dashed;
	padding: 15px 10px;
	border-width: 0.125em;
	min-width: 150px;
	border-color: rgb(24 49 83 / 20%);
	border-radius: 6px;
}
.article_area h1{}
.article_area h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.article_area h3{
    font-size: 20px;
}
.article_area h4{}
.article_area{
    padding: 30px;
    background: hsl(197.09deg 100% 89.05%);
    max-width: 1300px;
    border-radius: 10px;
    margin: 0 auto;
}
.article_area ul{}
.article_area p{
    margin-bottom: 20px;
}
.article_area ul li{}


.letter-list{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    text-align: center;
}
.letter-list .letter:hover{
    background: #fff;
}
.letter-list .letter{
    color: #183153;
    background: #ffd43b;
    border-width: 0.112em;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 0.175em 0 rgb(24, 49, 83);
    font-weight: 500;
}


.more_link{
    text-transform: capitalize;
    margin-top: 8px;
    color: #ffffff;
    font-weight: 600;
    background: #f54b4b;
    width: max-content;
    padding: 3px 14px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto;
}
.more_link:hover{
    background: #3d3d3d;
    color: #fff;
    cursor: pointer;
}


.group:hover h2{
    background: #66ff90;
	animation: pulse 0.85s infinite;
}


 @keyframes pulse {
            0% {
                transform:  rotate(-13deg) scale(1);
            }
            50% {
                transform: rotate(-13deg) scale(1.2);
            }
            100% {
                transform: rotate(-13deg) scale(1);
            }
        }
		
		
 @keyframes pulse2 {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
		
		


.group{
    text-align: left;
    background: hsl(0deg 0% 92.27%);
    padding: 30px;
    position: relative;
    border-radius: 10px;
    border: 0px solid #dddddd;
     
}    
    
.group h2:hover{}
.group h2{
    font-size: 40px;
    background: #ffffff;
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 70px;
    transform: rotate(-13deg);
    top: -5px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0.1em 0 rgb(24, 49, 83);
    border-color: #183153;
    border-radius: 47px;
    border-width: 2px;
    border-style: solid;
    left: -15px;
} 
 
.group .game-list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    margin-top: 60px;
    grid-auto-flow: dense;
}
.group .game-list li img:hover{
 transform:scale(1.05);
    cursor:pointer;
    transition:.2s all;
}
.group .game-list li img{
 transition:.2s all;
 max-width: 60px;
 border-radius: 10px;
 box-shadow: 2px 2px 5px hsl(0deg 0% 20% / 27%);
}
.group .game-list li .title{
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    color: #183153;
    white-space: nowrap;
}
.group .game-list li:hover .title{
    color: #183153;
}
.group .game-list li:hover{
    border-style: solid;
    background: #ffd43b;
    border-width: 0.125em;
    border-color: #183153;
    cursor: pointer;
}
.group .game-list li:hover h2{}
.group .game-list li{
    display: grid;
    grid-auto-flow: column;
    border-style: solid;
    border-width: 0.125em;
    align-items: center;
    border-color: hsl(0deg 0% 20% / 0%);
    grid-gap: 10px;
    box-shadow: 0 1px 2px #d9d9d9;
    text-align: center;
    justify-content: left;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.letter_secili{
		animation: pulse2 0.85s infinite;

    background: #ffffff !important;
}  
.lesson_area {
    background: hsl(213.99deg 100% 66.77% / 25%);
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 0px 0 10px 10px;
    min-height: 640px;
    margin: 0 auto;
}


.class_r{
    margin: 0 auto;
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
    background: #fff;
}


.lesson-iframe{
    width: 100%;
    height: 680px;
}


.first{}
.second{}

.f_img{
    max-width: 160px;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    box-shadow: 0 0.375em 0 rgb(24, 49, 83);
    border-width: .225em;
    background: rgb(24, 49, 83);
}

.it_butonlar_area{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 15px;
    margin-top: 10px;
}
.it_butonlar:hover{
    background: #fff;
    cursor: pointer;
}
.it_butonlar{
	  border-radius: 40px !important;
	  padding: 2px 10px !important;
	  color: #183153;
	  border: 2px solid #183153;
	  font-weight: 600;
	  background: #ffd43b;
}

.skip_play {
    cursor: pointer;
    display: inline-block;
}




.dlesson_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 10px;
}

.dlesson_list .lesson_img{
    width: 100%;
    border-radius: 12px;
    border-width: 3px;
    border-color: rgb(24, 49, 83);
    transition: .2s all;
}

.dlesson_list .lesson_img:hover{
	background: rgb(24, 49, 83);
	cursor: pointer;
}

@media (max-width: 1300px) {
    .detay_area {
        display: grid !important;
        grid-auto-flow: row !important;
        grid-gap: 20px !important;
        align-items: flex-start !important;
        max-width: 1300px !important;
        margin: 0 auto !important;
        padding: 0 !important;
        grid-template-columns: unset !important;
        padding: 10px !important;
    }

    .dlesson_list {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
        grid-gap: 25px !important;
        justify-content: center !important;
        text-align: center !important;
        margin: 0 auto !important;
        padding: 10px !important;
    }
	
.detay_may_like{
	padding:10px !important;
}	
.blok{
	padding:10px !important;
}

}


@media (max-width: 1080px) {
	
	nav ul li {
		border-radius: 5px !important;
		height: 40px !important;!i;!;
		line-height: 35px;
		border: 2px solid;
		align-items: center;
		margin: 0 !important;!i;!;
	}	
	
	nav ul {
		grid-gap:0px !important;
		
	}
	.main_lessons {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: unset !important;
    grid-gap: 20px;
    align-items: flex-start;
    max-width: 1360px;
    margin: 0 auto;
    padding: 30px;
}


 
  nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 10px;
        background: #a4d0ff;
        width: 200px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
    }

    nav ul a {
        display: block;
        margin: 0px 0;
    }

    .menu-icon {
        display: block !important;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex !important;
        width: 250px;
        text-align: left;
        top: 42px;
        right: 0;
        grid-gap: 5px !important;!i;!;
        border-radius: 10px;
    }
	
	
	
}


 
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    padding: 0 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
}


  @keyframes pulse3 {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
		

.puls {
    animation: pulse3 2s infinite;
 }
 
 
 .blinks{
    color: #183153;
    font-weight: 600;
}
 .blinks:hover{
    color: #fd0303;
}